* {
  font-family: Abril Fatface, Times New Roman, Times, serif;
}
.container{
  border:1px solid #eee;
  padding:5px
}
.main-image img{
  width:100%;
  max-height:400px;
  border-radius:5px;
}
.pic-center {
    text-align: center;
    margin-top: 10px;
}
.pic-center img {
    width: 70px;
  border-radius:5px;
  cursor:pointer;
}
.section-heading {
    position: relative;
  padding-bottom:5px;
  border-bottom:1px solid #e1e1e1
}
.title {
    max-width: 540px;
    margin: 0 0 20px;
    z-index: 10;
    font-size: 45px;
    font-weight: 700;
    color: #5e442e;
}
.menuh6 {
    font-size: 30px;
    color: #3d322c;
}
.section-body{
  margin:20px 0;
  font-size:16px
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    font-size: 25px;
    color: #43484D;
    font-weight: 600;
    width:60px;
  background:#fff
}
.inp-pos{
  height:60px;
}
.quantity input:nth-child(odd):hover{
  background-color: #ddc8a8;
  color:#5e442e ;
}
.quantity input:nth-child(odd){
  border:1px solid #eee;
}
.product-info{
  display:flex;
  align-items:center;
  margin-top:10px;
}
.product-info ul{
  padding:0;
  margin-left:15px;
  list-style:none;
  margin-bottom:0
}
.product-info h4{
  font-weight:600
}
.grey{
  color:#a3a3a3;
  font-size:14px;
}
.grey:hover{
  color:#ddc8a8;
  text-decoration:none
}
#add-to-cart {
  width: 30%;
  background: #5e442e;
  font-size: 20px;
  font-weight: 600;
  color: #ddc8a8;
  transition: all 0.3s;
  padding: 15px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-left:20px;
  margin-bottom:8px
}
#add-to-cart:before {
  content: "";
  border: 1px solid #ddc8a8;
  border-radius: 15px;
  width: calc(100% - 20px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 20px);
  margin: 10px;
}
#add-to-cart:hover{
  background-color: #ddc8a8;
  color:#5e442e;
}
.cart {
    vertical-align: middle;
    margin-left: 5px;
}
@media (max-width:991px){
  .main-image {
    text-align:center;
  }
  .main-image img{
   max-width:60%
  }
}
@media (max-width:600px){
  .main-image {
    text-align:center;
  }
  .main-image img{
   max-width:75%
  }
  .pic-center img{
    width:50px
  }
  .inp-pos{
  height:40px;
}
  .quantity input {
    width:40px;
}
  #add-to-cart{
    width:50%
  }
}
ž